<a class="a-buttons" id="inicio" href="index.html">Inicio</a>
<a class="a-buttons" id="materiales" href="materiales.html">Materiales</a>
<a class="a-buttons" id="codigos" href="codigos.html">Códigos</a>
<a class="a-buttons" id="pasos" href="pasos.html">Paso a Paso</a>
