body {
    margin: 0 auto;
    background-color: lightblue;
}


.cabecera {
    height: 6em;
    background-image: url(imagenes-cabecera/0.jpg) ;
    background-size: 100%;

}


.menu {
  height: 3em;
  position: sticky;
  top: 0;
  background-color: #130773;
  text-align: center;
  margin-bottom: 1em;
}

div .a-buttons {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 15px;
  display:inline-block;
  font-family: monospace; 
}

#inicio:hover{
background-color: rgb(182, 108, 211);
color: black;
opacity: .6;
}
#materiales:hover{
  background-color: rgb(82, 255, 47);
  color: black;
  opacity: .6;
  }
#codigos:hover{
    background-color: orange;
    color: black;
    opacity: .8;
}
#pasos:hover{
  background-color: red;
  color: black;
  opacity: .6;
}

.fotos-colaboracion {
    width: 5em;
    height: 5em;
    display: inline-table;
}

#titulo  {width: 20em;
height: 4.5em;
position: absolute;
top: 0em;
display: inline-table;
}

.luz.on{
    color: #ff0000;
    text-shadow:
       1px  1px rgba(255, 255, 255, .1),
      -1px -1px rgba(0, 0, 0, .88),
       0px  0px 20px #ff0000;/*color de la luz del texto*/
  }
.luz{
    font-size: 3em;
    font-family: 'Asap Condensed', sans-serif;
    color: #1eff00;
    text-shadow:
       1px  1px rgba(255, 255, 255, .1),
      -1px -1px rgba(0, 0, 0, .88),
       0px  0px 20px #1eff00;/*color de la luz del texto*/
  }

#foto-car {width: 4.5em;
height: 4.5em;
position: relative;
display: inline-table;}

#logo {
    width: 12em;
}

#app-foto {width: 15em;
height: 5em;
position: absolute;
right: 0em;
padding-top: 0.5em;
display: inline-table;
}

.cuerpo{
margin: 0 auto;
width: 80%;
height: 38em;
background-color: palegoldenrod;
box-shadow: 2px 2px 10px #666;
}

.buttom{
  background-color: rgb(48, 45, 45);
  margin: 0 auto;
  margin-top: 1em;
  width: auto;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.buttom > #S1{
  width: 10em;
  height: auto;
  font-size: 15px;
  text-align: center;
  color: white;
  padding: 2em;  
}
.buttom > #S2{
  width: auto;
  height: auto;
  font-size: 15px;
  text-align: left;
  color: white;
  padding: 2em;
}
.buttom > #S3{
  width: 10em;
  height: auto;
  font-size: 15px;
  text-align: left;
  color: white;
  padding: 2em;
}

.a-bottom{
  color: #1eff00;
}
.a-bottom:hover{
  color: blue;
}